body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #3046c5;
}

header h2 {
  color: #cec8ff;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
}

.jumbotron {
  margin-bottom: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: darkorchid;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

/* This to make a black contrast to read easier the Caption for the carousel  */
.carousel-caption {
  background-color: rgba(0,0, 0, 0.5);
}

.carousel {
  border: solid #5637dd;
}